<!DOCTYPE html>
<html>
    <head>
        <title>Vue Learn!</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }

            .box.two{
                background-color: red;
                height: 200px;
                width: 200px;
            }

            .box.three{
                background-color:violet;
                height: 200px;
                width: 200px;
            }

            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>

        <div id="app" v-cloak>
                <h1>{{ greeting }}</h1>
                <input v-model="greeting" />
                <hr/>

        
        
            <button @click="toggleBox">Show Box</button>
            <div v-if="isVisible" class="box"></div>


        </div>

        



        <script src="https://unpkg.com/vue@next"></script>
        <script>
          let app = Vue.createApp({

            data: function(){
                return{
                    greeting: 'Hello World!',
                    isVisible: true,
                    isVisible2: true
                }
            },


            methods: {

                toggleBox: function () {
                    this.isVisible = !this.isVisible
                }
            }





          }).mount('#app')


        </script>
    </body>
</html>